<!-- views/users/index.ejs -->

<!DOCTYPE html>
<html ng-app="prog8010App">
<head>
	<title>Post Lists</title>
	<% include ../partials/header %>		
</head>
<body>
	<div class="container" ng-controller="PostCtrl">
		<% include ../partials/navbar %>
		<h1>Post List</h1>
		<table class="table">
				<thead>
					<tr>
						<th>From Postal</th>
						<th>To Postal</th>
						<th>Departure DateTime</th>
						<th>Action</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="text" class="form-control" ng-model="post.srcPostal"></td>
						<td><input type="text" class="form-control" ng-model="post.dstPostal"></td>
						<td>
							<input type="text" class="form-control" ng-model="post.departureData">
						</td>
						<td><button type="button" class="btn btn-primary" ng-click="addPost()">Add Post</button></td>
						<td>
							<button type="button" class="btn btn-info" ng-click="update(post.post_id)">Update</button>&nbsp; &nbsp;<button type="button" class="btn btn-info" ng-click="deselect()">Clear</butto>
						</td>
					</tr>
					<tr ng-repeat="post in postlist">
						<td>{{post.srcPostal}}</td>
						<td>{{post.dstPostal}}</td>
						<td>{{post.departureData}}</td>
						<td><button type="button" class="btn btn-danger" ng-click="remove(post.post_id)">Remove</button></td>
						<td><button type="button" class="btn btn-warning" ng-click="edit(post.post_id)">Edit</button></td>
					</tr>
				</tbody>
		</table>
	</div>
    <footer>
        <% include ../partials/footer %>
    </footer>	
<% include ../partials/foot_angularjs148 %>
<script src="./controllers/postcontroller.js"></script>
</body>
</html>